apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ acm_placement_decision_configmap_name }}
  namespace: {{ acm_gitops_namespace }}
  labels:
    app.kubernetes.io/instance: openshift-gitops
data:
  apiVersion: cluster.open-cluster-management.io/v1beta1
  kind: placementdecisions
  statusListKey: decisions
  matchKey: clusterName
