apiVersion: v1
baseDomain: {{ install_config.base_domain }}
metadata:
  name: {{ install_config.cluster_name }}
networking:
  networkType: {{ install_config.network_type | default('OVNKubernetes') }}
  machineNetwork:
    - cidr: {{ install_config.machine_network.cidr | default('10.0.0.0/16') }}
  clusterNetwork:
    - cidr: {{ install_config.cluster_network.cidr | default('10.128.0.0/14') }}
      hostPrefix: 23
  serviceNetwork:
    - {{ install_config.service_network.cidr | default('172.30.0.0/16') }}
compute:
  - name: worker
    replicas: {{ install_config.workers.replicas | default(3) }}
controlPlane:
  name: master
  replicas: {{ install_config.control_plane.replicas | default(3) }}
platform:
  vsphere:
    vcenters:
      - server: {{ vcenter.hostname }}
        user: {{ vcenter.username }}
        password: {{ vcenter.password }}
        datacenters:
          - {{ vcenter.datacenter }}
    failureDomains:
      - name: default-failure-domain
        region: default-region
        zone: default-zone
        server: {{ vcenter.hostname }}
        topology:
          datacenter: {{ vcenter.datacenter }}
          computeCluster: /{{ vcenter.datacenter }}/host/{{ vcenter.cluster }}
          datastore: /{{ vcenter.datacenter }}/datastore/{{ vcenter.datastore }}
          networks:
            - {{ vcenter.network }}
          folder: {{ vcenter.folder }}
pullSecret: '{{ install_config.pull_secret | to_json }}'
{% if install_config.ssh_key is defined %}
sshKey: |
  {{ install_config.ssh_key }}
{% endif %}