apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ applicationset_name }}
  namespace: {{ applicationset_namespace }}
  labels:
    app.kubernetes.io/instance: openshift-gitops
spec:
  goTemplate: true
  generators:
    - clusterDecisionResource:
        configMapRef: {{ applicationset_placement_decision_configmap | to_json }}
        labelSelector:
          matchLabels:
            "cluster.open-cluster-management.io/placement": {{ applicationset_placement_name | to_json }}
        requeueAfterSeconds: {{ applicationset_placement_requeue_after_seconds | int }}
  template:
    metadata:
      name: '{% raw %}{{ .clusterName }}{% endraw %}-{{ applicationset_application_suffix }}'
      namespace: '{{ applicationset_namespace }}'
    spec:
      project: '{{ applicationset_project }}'
      source:
        repoURL: {{ gitops_repo_url | to_json }}
        targetRevision: {{ applicationset_repo_revision | to_json }}
        path: {{ applicationset_source_path | to_json }}
        directory:
{% if applicationset_directory_recurse | bool %}
          recurse: true
{% else %}
          recurse: false
{% endif %}
      destination:
        server: '{% raw %}{{ .server }}{% endraw %}'
        namespace: '{{ applicationset_namespace }}'
      syncPolicy:
{% if applicationset_sync_policy == "Automatic" %}
        automated:
          prune: true
          selfHeal: true
{% endif %}
        syncOptions:
{% for opt in applicationset_sync_options %}
          - {{ opt | to_json }}
{% endfor %}
        retry:
          limit: {{ applicationset_sync_retry_limit | int }}
          backoff:
            duration: {{ applicationset_sync_retry_backoff_duration | to_json }}
            factor: {{ applicationset_sync_retry_backoff_factor | int }}
            maxDuration: {{ applicationset_sync_retry_backoff_max_duration | to_json }}
