---
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: {{ node_name }}-nmstate
  namespace: {{ ocp_cluster.name }}
  labels:
    infraEnv: {{ ocp_cluster.name }}
spec:
  interfaces:
    - name: "ens192"
      macAddress: "{{ node_mac }}"
  config:
    interfaces:
      - name: ens192
        type: ethernet
        state: up
        mac-address: "{{ node_mac }}"
        ipv4:
          enabled: true
          address:
            - ip: "{{ node_ip }}"
              prefix-length: 24
          dhcp: false
    dns-resolver:
      config:
        server:
          - "{{ ocp_nodes.network.dns }}"
          - "8.8.8.8"
    routes:
      config:
        - destination: 0.0.0.0/0
          next-hop-address: "{{ ocp_nodes.network.gateway }}"
          next-hop-interface: ens192